@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  --blue: #5b69e4;
  --dk-blue: #3f4aa8;
  --background: #1d1d1d;
  --lgt-background: #252525;
  --comp-background: #f0f0f0;
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
}

html {
  scrollbar-color: var(--blue) #000;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  font-size: 1.25rem;
}

/* NavBar */
header {
  opacity: 1;
  background-color: var(--lgt-background);
}
header nav {
  font-size: 1.5rem;
}
header nav .navbar-brand:any-link {
  color: var(--blue);
  /*font-size: 2rem;*/
  font-weight: bold;
  margin-left: 15px;
}
header nav .navbar-nav {
  font-size: 1.1em;
  font-weight: 550;
  margin-left: auto;
  margin-right: 20px;
  gap: 20px;
}
header nav .navbar-nav a.nav-link:any-link {
  color: #ccc;
}
header nav .navbar-nav a.nav-link:hover {
  color: var(--blue);
}
header nav .navbar-nav a.active:any-link {
  color: #fff;
  font-weight: bold;
}

main {
  margin-top: 25px;
  font-size: min(4.5vw, 1em);
  tab-index: 0;
}
main .code {
  font-family: "Source Code Pro", "Montserrat", Arial, sans-serif;
}
main section #hero {
  height: 95vh;
  width: 100vw;
  top: -30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section #hero::before {
  content: "";
  background-image: url("../assets/img/Hero_Background.png");
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section #hero p.hero-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  max-width: max(35vw, 250px);
  padding: 5px 15px;
}
main section h1 {
  text-decoration: underline var(--blue);
  text-underline-offset: 9px;
}
main section h3 {
  color: var(--blue);
}
main section#comps .skill-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
main section#comps .skill-section .skill {
  width: 300px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.1333333333);
  border-radius: 15px;
  display: flex;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  box-shadow: 1px 4px 4px rgba(63, 74, 168, 0.4);
  padding: 10px;
}
main section#comps .skill-section .skill .icon {
  height: auto;
  width: 75px;
}
main section#comps .skill-section .skill .txt {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  justify-content: center;
}
main section#comps .skill-section .skill .txt .title {
  width: 100%;
  text-align: center;
}
main section#comps .skill-section .skill .txt .desc {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}
main section#comps .tab-container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
main section#comps .custom-tabs {
  display: flex;
  justify-content: center;
  border-bottom: none;
  margin-bottom: 0;
  padding-left: 0;
}
main section#comps .custom-tabs .nav-link {
  border: 2px solid currentColor;
  border-bottom: none;
  background: var(--comp-background);
  color: black;
  margin-right: 3px;
  position: relative;
  z-index: 1;
  border-radius: 6px 6px 0 0;
  filter: brightness(50%);
  font-weight: 550;
}
@media screen and (max-width: 768px) {
  main section#comps .custom-tabs .nav-link {
    text-overflow: ellipsis;
    max-width: 14vw;
    padding: 3px;
    overflow: hidden;
  }
}
main section#comps .custom-tabs .nav-link.active {
  border-radius: 7px;
  z-index: 2;
  background: var(--comp-background);
  top: 2px;
  border-color: var(--blue);
  filter: brightness(100%);
  font-weight: bold;
  transition: all 0.3s ease-in;
}
main section#comps .tab-content-box {
  border: 3px solid var(--blue);
  padding: 30px;
  background-color: var(--comp-background);
  border-radius: 10px;
  position: relative;
  top: -2px;
  z-index: 1;
  min-height: 200px;
}
main section#comps .tab-pane {
  color: #000;
  display: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
main section#comps .tab-pane .title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
main section#comps .tab-pane .list-title {
  color: var(--lgt-background);
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
}
main section#comps .tab-pane .list-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 7px;
  background-color: var(--dk-blue);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  border-radius: 999px;
}
main section#comps .tab-pane .detail-list {
  color: #000;
  font-style: italic;
  text-align: left;
}
main section#comps .tab-pane.active {
  display: block;
}
main section#projects .open-project {
  background-color: var(--lgt-background);
  color: #ddd;
  box-shadow: 0 6px 12px rgba(63, 74, 168, 0.3333333333);
  transform: scale(1);
  padding: 0;
  transition: all 0.1s ease-in-out;
}
main section#projects .open-project:hover {
  color: var(--blue);
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}
main section#projects .open-project button {
  background-color: rgba(255, 255, 255, 0.0666666667);
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 10px;
}
main section#projects .open-project button:hover {
  color: var(--blue);
  transition: all 0.1s linear;
}

/* Utility */
.pb-150 {
  padding-bottom: 150px;
  position: relative;
}
.pb-150 .dark-background {
  background-color: rgba(0, 0, 0, 0.3333333333);
  height: 100%;
  width: 100vw;
  position: absolute;
  inset: 0;
  top: -25px;
  transform: translateX(0);
  z-index: -1;
}

.underline-animation {
  position: relative;
  display: inline-block;
}
.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
  border-radius: 999px;
}
.underline-animation:hover::after, .underline-animation:focus::after, .underline-animation.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.txt-blue {
  color: var(--blue);
}
.txt-blue:any-link {
  color: var(--blue);
}
.txt-blue[href]:hover {
  color: var(--dk-blue);
}

.txt-dark-blue {
  color: var(--dk-blue);
}
.txt-dark-blue:any-link {
  color: var(--dk-blue);
}
.txt-dark-blue[href]:hover {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-grey {
  background-color: var(--lgt-background);
}

/* Timeline */
ul.timeline {
  border-left: 5px solid var(--blue);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.2666666667);
  color: #fff;
  margin: 64px 7.5vw 64px auto;
  position: relative;
  line-height: 1.4em;
  font-size: 0.95em;
  padding: 48px;
  list-style: none;
  text-align: left;
  font-weight: 200;
  width: fit-content;
  max-width: 70%;
  /* Separators */
}
ul.timeline li.event {
  border-bottom: 1px dashed white;
  padding-bottom: 24px;
  margin-bottom: 48px;
  position: relative;
  /* Date */
  /* Dots */
}
ul.timeline li.event h4 {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.4em;
  color: var(--blue);
}
ul.timeline li.event h5 {
  letter-spacing: 0.5px;
  font-weight: 250;
  font-size: 1.2em;
  color: var(--dk-blue);
}
ul.timeline li.event .two-column .column-title {
  font-weight: 350;
  color: var(--blue);
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
ul.timeline li.event .two-column .separator {
  border-right: 1px solid var(--blue);
}
ul.timeline li.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
ul.timeline li.event:before, ul.timeline li.event:after {
  position: absolute;
  display: block;
}
ul.timeline li.event:before {
  left: -213px;
  color: var(--blue);
  content: attr(data-date);
  text-align: right;
  font-weight: 300;
  font-size: 0.9em;
  min-width: 120px;
  top: 2.5px;
}
ul.timeline li.event:after {
  box-shadow: 0 0 0 5px var(--blue);
  left: -55.85px;
  background: rgb(12.75, 12.75, 12.75);
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 10px;
}

.contact-button {
  border: 4px solid var(--blue);
  background-color: transparent;
  border-radius: 25px;
  padding: 15px;
  color: var(--blue);
  font-size: 1.8rem;
}
.contact-button img {
  width: 64px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}
.contact-button:hover {
  border-color: var(--dk-blue);
  color: var(--dk-blue);
}

.my-modal {
  background-color: #333;
  border: 2px solid var(--blue);
}

@media screen and (max-width: 768px) {
  ul.timeline .two-column {
    flex-direction: column;
    gap: 10px;
  }
  ul.timeline .two-column .separator {
    border-right: 0;
    border-top: 1px solid var(--blue);
  }
  ul.timeline li.event:before {
    left: -178.5px;
    top: -10px;
    max-width: 50px;
    word-break: break-all;
  }
}

/*# sourceMappingURL=style.css.map */
